.articles {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	li {
		&:first-child {
			article {
				border-radius: var(--border-radius) var(--border-radius) 0 0;
				border-top: 1px solid var(--border-color);
			}
		}

		&:last-child {
			article {
				border-radius: 0 0 var(--border-radius) var(--border-radius);
			}
		}

		article {
			border-top: none;
			border-radius: 0;
		}
	}
}


article {
    background: var(--primary-background);
    padding: 5px 30px;
    position: relative;
    border: 1px solid var(--border-color);
    overflow: hidden;
    border-radius: var(--border-radius);

    > h3 {
        color: var(--primary-accent);
        margin-top: 0;
    }

    > p {
        color: var(--text-color);
    }

    > .no-indent {
        text-indent: 0;
    }

    .time {
        display: inline-block;
        text-align: initial;
        text-indent: initial;
        line-height: initial;
    }
}
