blockquote {
	padding: 5px 30px;
	border-radius: calc(var(--border-radius) / 2);
	border: 1px solid var(--border-color);
	border-left: calc(var(--border-radius) / 2) solid var(--primary-accent);
	margin-left: 0;
}
