// Font-Face Definitions
@font-face {
    font-family: 'JetBrains Mono';
    font-weight: bold;
    font-style: normal;
    src: local('Pacifico-Regular'), url('/fonts/JetBrainsMono/JetBrainsMono.woff2') format('WOFF2');
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: normal;
    font-style: italic;
    src: local('Pacifico-Regular'), url('/fonts/JetBrainsMono/JetBrainsMono.woff2') format('WOFF2');
    font-display: swap;
}
