// Global Styles
body {
    background: var(--primary-background);
    color: var(--text-color);
    font-family: var(--sans-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

hr {
    color: var(--secondary-accent);
}

main {
    margin: 0 auto;
    width: min(95%, 75ch);
    flex-grow: 1;
}

footer {
    padding: 3px;
    margin-top: 10px;
    background-color: var(--secondary-accent);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, rgba(0,0,0,0.1) 1px, rgba(0,0,0,0) 1px);
    background-size: 1rem 1rem;
}

button {
	$fg-color: var(--text-color);

	border-radius: 1rem;
	margin: 1rem 1rem 0 0;
	padding: 1rem;
	border: none;
	background-color: var(--primary-background);
	border: solid 1px rgba(0, 0, 0, 0.2);
	color: $fg-color;
	font-weight: 600;
	cursor: pointer;

	svg {
		vertical-align: middle;
		fill: $fg-color;
		margin-right: 0.5rem;
	}
}

button[highlighted] {
	$fg-color: var(--primary-accent-fg);

	background-color: var(--primary-accent);
	border: var(--border-color);
	color: $fg-color;

	svg {
		fill: $fg-color;
	}
}

header {
	h1 {
		span {
			background: var(--primary-background);
			border: 5px solid var(--primary-background);
			border-radius: 10px;
		}
	}
}

#copyleft {
    display: flex;

    >p {
        text-indent: 0;
	line-height: 0;
	margin-top: calc(1rem + 9px);
	margin-bottom: 1rem;
    }
}

#cl_icon {
    transform: scaleX(-1);
    margin-right: 5px;
}

