.tagContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
}

.infoTag {
	margin-top: 1rem;
	width: fit-content;
	padding: 5px 30px;
	position: flex;
	display: inline-block;
	outline: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	transition: 0.2s;

	background-color: var(--primary-background);
        background-image: radial-gradient(at 0% 0%, transparent 0px, transparent 10%);

	&:hover {
		transform: scale(1.1);
		background-color: #706eff;
		background-image:
			radial-gradient(at 0% 0%, rgb(172, 99, 255) 0px, transparent 50%),
                	radial-gradient(at 100% 100%, hsla(224, 100%, 80%, 1) 0px, transparent 50%);
		outline: 3px solid white;
		
		* { color: white; }
		
		box-shadow: 0 0 25px rgb(59, 88, 255);
	}

	> h3 {
		color: var(--primary-accent);
        	margin-top: 0;
		text-decoration-style: dotted !important;
		text-decoration: underline;
	}

	> p {
		color: var(--text-color);
	}
}
