// Variables
$primary-accent: var(--primary-accent);
$secondary-accent: var(--secondary-accent);
$border-color: var(--border-color);
$translucent: var(--translucent);
$primary-background: var(--primary-background);
$text-color: var(--text-color);
$line-width: var(--line-width);
$border-radius: var(--border-radius);

.banner {
	background: rgb(0 0 0 / 5%);

	height: 180px;
	width: 100%;
	position: absolute;
	z-index: -1;

	svg {
		fill: rgba(0, 0, 0, 0.1);
	}

	@media (prefers-color-scheme: dark) {
		svg {
			fill: rgba(250, 250, 250, 0.1);
		}
	}
}

// Navigation Styles
nav {
	box-shadow: 0 0 6px $secondary-accent inset;
	margin-bottom: 2rem;
	padding: 0;
	overflow: hidden;
	display: inline-block;
	justify-content: center;
	border-radius: 99px;
	background: $translucent;
	backdrop-filter: blur(4px);
	border: 1px solid $border-color;

	ul {
		padding: 0;
	        margin: 0;
        	list-style: none;
	        display: flex;
        	flex-wrap: wrap;

        	li {
        		text-align: center;
                	color: $primary-accent !important;
                	margin: 5px 2.5px;
                	text-decoration: none;

                	&:first-child {
        			margin-left: 5px;
                		a {
                			border-radius: 99px;
					box-shadow: 0 0 5px $secondary-accent inset;
				}
			}

                	&:last-child {
				margin-right: 5px;

                		a {
                			border-radius: 25px 99px 99px 25px;
                		}
			}

        		&:nth-child(2) {
        			a {
        				border-radius: 99px 25px 25px 99px;
				}
			}

        		a {
        			display: block;
				text-decoration-skip-ink: none;
				text-decoration-thickness: 1px;
				text-decoration-style: dotted;
				text-underline-offset: 5px;
				box-shadow: 0 0 3px $border-color inset !important;
                		font-weight: bold;
                		width: 100%;
                		height: 100%;
                		box-sizing: border-box;
                		transition: 200ms;
				background: none !important;

                		&[aria-current="page"] {
					text-decoration-style: wavy;
					text-underline-offset: 5px;
					text-decoration-thickness: 1px;
                		}
        		}

        		.pageLink {
        			div {
        				transition: 150ms;
                			padding: 15px;
					transition: all 0.2s;
        			}
        		}

        		.pageLink:active {
        			div {
        				transform: scale(0.9);
                			border-radius: 60px 60px 60px 60px;
                			background-color: $border-color;
                		}
        		}
        	}
	}
}

header {
    text-align: center;
}

// Logo Button Styles
.logo_button {
	a {
		background: $primary-accent !important;
        	padding: 15px;
        	aspect-ratio: 1 / 1;
        	display: flex;
        	justify-content: center;
        	align-items: center;
        	position: relative;

        	#img_logo {
        		width: 20px;
        		height: 20px;
        		filter: drop-shadow(0px 0px 1px rgb(0 0 0));
        	}

        	#img_logo { display: block; }
	}
}

#nav_wrapper {
	position: sticky;
	top: 10px;
	text-align: center;
	z-index: 1000;
}

@media only screen and (max-width: 550px) {
	nav {
        	backdrop-filter: blur(50px);
		border-radius: $border-radius;
        	animation: show 0.2s;
        	width: 90%;

        	ul {
        		flex-direction: column;

			li:first-child {
				margin-top: 5px;
			}

			li:last-child {
				margin-bottom: 5px;
			}

			li {
        			border-left: none;
				margin: 2.5px 5px;

				a {
					border-radius: $border-radius !important;
				}
        		}
        	}


	}

	.logo_button {
		a { aspect-ratio: auto; }
	}

	#nav_wrapper { position: relative; }
}

@media (prefers-reduced-motion) {
	#nav_wrapper { position: relative; }
}
