@import "article.scss";

.tags {
    list-style: none;
    padding: 0;

    li {
        background-color: var(--primary-accent);
        background-image:
            radial-gradient(at 0% 0%, #4982d6 0px, transparent 10%);

        box-shadow: 0px 0px 10px var(--border-color);
        display: inline-block;
        border-radius: calc(var(--border-radius) / 3);
        margin-right: 8px;
        transition: 250ms;

        &:hover {
            background-color: #706eff;
            background-image:
                radial-gradient(at 0% 0%, rgb(172, 99, 255) 0px, transparent 50%),
                radial-gradient(at 100% 100%, hsla(224, 100%, 65%, 1) 0px, transparent 50%);
            box-shadow: 0 0 5px rgb(59, 88, 255);
        }

        a {
            color: var(--primary-background);
            display: block;
            padding: 5px;
            transition: 500ms;
	    font-weight: 400;
	    
	    &::before {
		content: "#";
	    }
	}
    }
}

.tag {
    color: #4982d6;
}

$quantity: 5;

@for $i from 1 through 5 {
    $anim-name: "tag-animation-#{$i}";

    @keyframes #{$anim-name} {
        from {
            transform: matrix(#{1 + ($i) * -0.24}, 0, 0, 1, #{($i) * -50}, #{($i) * -0});
            opacity: 0;
        }

        to {
            transform: matrix(1.0, 0, 0, 1.0, 0, 0);
            opacity: 1;
        }
    }

    .tags li:nth-child(#{$i}) {
        animation: #{$anim-name} 0.4s cubic-bezier(0, 0.79, 0.32, 1.67) #{$i * 0.05s + 0.25s} both;

    }
}

.tags li {
    animation: "tag-animation-#{$quantity}" 0.40s cubic-bezier(0, 0.79, 0.32, 1.67) #{($quantity + 1) * 0.05s + 0.25s} both;
}

img {
    max-width: 100%;
}
