p {
    text-align: justify;
    line-height: 1.6;
}

pre {
	word-wrap: break-word;
	overflow: auto;
	max-width: 100vw;
}

table {
	border-collapse: collapse;

	thead td {
		font-weight: bold;
	}

	thead, tbody {
		td, tr > th {
			border: var(--line-width) solid #54585d;
		}
	}

	td {
		padding: 15px;
	}
}

a {
    color: var(--primary-accent);
    height: 20px;
    overflow: hidden;
    border-radius: calc(var(--border-radius) / 6);

    &:visited {
        color: var(--visited);
    }

    &:hover {
	text-decoration-style: dotted;
    }
}

header h1 {
    font-weight: normal;
}

h1,
h2 {
    line-height: calc(var(--line-height) * 2rem);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

h2,
h3,
h4,
h5,
h6 {
    line-height: var(--one-line);
    padding-top: calc(var(--line-height) * 0.75rem);
    margin-bottom: calc(var(--line-height) * 0.25rem);
}

:is(h3, h4, h5, h6)+* {
    margin-top: 0;
}

.fancyList {
	list-style: none;
	padding: 0;

	border: solid 1px var(--border-color);
	border-radius: var(--border-radius);
	
	li:not(:last-child) {
		border-bottom: solid 1px var(--border-color);
	}

	li {
		padding: calc(var(--border-radius) / 2);
	}
}

// This is so that you can add #center to any image's URL in markdown, so cool!
img[src*='#center'] { 
    display: block;
    margin: auto;
    width: 100%;
}
img[src*='#shadow'] { 
    filter: drop-shadow(0px 0px 1px rgb(0 0 0));
    transition: 500ms;
    &:hover {
        filter: drop-shadow(0px 0px 2px rgb(0 0 0));
        transform: scale(1.02);
    }
}

img[src*='#rounded'] {
	border-radius: var(--border-radius);
}

img[src*="#dyn"] {
	@media (prefers-color-scheme: dark) {
		background: white;
	}
}
