:root {
    --primary-background: #ffffff;
    --translucent: #ffffffce;
    --text-color: #181818;
    --secondary-text: #3b3b3b;
    --primary-accent: #0149a8;
    --secondary-accent: rgba(0, 26, 127, 0.15);
    --visited: #3c5a7900;
    --danger: #a51f1f;
    --warning: #8b6010;
    --success: #108b5c;
    --border-color: #83bdff80;
    --codeblock: #191c1f;
    --primary-accent-fg: white;


    --border-radius: 30px;
    --line-width: 2px;
    --one-line: calc(var(--line-height) * 1rem);
    --line-height: 1.5;
    --sans-font: -apple-system,BlinkMacSystemFont,Lato,Roboto,"Nimbus Sans L",Avenir,"Noto Sans", "Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
    --mono-font: "Mononoki Nerd Font","IBM Plex Mono","Roboto Mono","Ubuntu Mono","Fira Code","Overpass Mono", "Monaco","Droid Sans Mono", monospace;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-background: rgb(42, 29, 29);
		--translucent: rgba(41, 28, 28, 0.8);
		--border-color: rgba(255, 130, 130, 0.5);
		--text-color: #EEF2F3;
        --secondary-text: #7E8489;
        --visited: #ffffff13;
        --primary-accent: rgb(255, 130, 130);
        --secondary-accent: rgba(191, 105, 105, 0.12);
        --danger: #ff8383;
        --warning: #ffe883;
        --success: #65ffc4;
		--primary-accent-fg: black;
	}
}

@media (prefers-color-scheme: light) and (prefers-color-scheme: high-contrast) {
    :root {
	--primary-background: #000000;
        --translucent: #000000;
        --text-color: #FFFFFF;
        --secondary-text: #FFFFFF;
        --visited: #FFE76F;
        --primary-accent: #F7FF00;
        --secondary-accent: #0000FF;
        --danger: #FF0000;
        --warning: #5E5100;
        --success: #505E00;
    }
}

// I am aware this isn't the cleanest way to disable animations, but I'd rather avoid accidents and have people with reduced motion needs be safer <3
@media (prefers-reduced-motion) {
    * , *:after{
        transition: none !important;
        animation: none !important;
    }
}
