* {
	transition: all 2s cubic-bezier(0,2,.25,1) !important;
}

@media (prefers-color-scheme: light) {

:root {
	--translucent: rgba(219, 238, 255, 0.24) !important;
	--border-radius: 7.5px !important;

}

body {
	background-image: url("/public/flowers.jpg") !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
	background-size: cover !important;
	background-position: center !important;

	font-family: Arial, sans-serif !important;
}

$trans: rgba(0, 0, 0, 0.3);

.logo_button {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	background: transparent !important;
	margin-right: none !important;

	> a {
		background: transparent !important;
	}
}

nav ul li a {
	box-shadow: none !important;
}

nav ul:last-child {
	margin-right: 5;
}

nav {
	background: url("/img/aero.svg") no-repeat top, rgba(255, 255, 255, 0.2) !important;
	background-size: 100% auto !important;
	backdrop-filter: blur(2.5px) !important;
	box-shadow: 0 0 10px black;
	border: none;
	box-shadow: 0 0 4px black;
	outline: solid 1px $trans;
	border-radius: 4px;
}

.banner {
	display: none;
}

nav > ul > li, article {
	background: radial-gradient(circle at 0% 0%, white, transparent, transparent) !important;
	box-shadow: 0 0 20px white inset, 0 0 5px white inset, 0 0 2px black inset;
	border-radius: 4px !important;
	margin-right: 4px;
	box-shadow: 0 0 1px black;
	border: solid 1px black !important;

	> a {
		color: black !important;
		font-weight: 500 !important;
		text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white !important;
	}

	&:last-child {
		margin-right: 0px !important;
	}
}


main::after, nav::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-repeat: repeat;
  background-position: center center;
  background-image: url("/img/noise.svg");
  filter: brightness(1.30);
  opacity: 0.25;
  pointer-events: none;
  background-size: 150%;
}

p, h1, h2, a {
	text-shadow: 0 0 15px white,  0 0 15px white,  0 0 15px white, 0 0 15px white,  0 0 15px white,  0 0 15px white;
	text-indent: 0px !important;
	line-height: 1 !important;
	color: black;
}


main, footer {
	backdrop-filter: blur(5px) !important;
	outline: solid black 1px  !important;
	box-shadow: 0 0 5px black, 0 0 2.5px white inset;
	border-radius: var(--border-radius);
	background: url("/img/aero.svg") no-repeat right, rgba(255,255,255, 50%); 
	background-size: 100% auto !important;
	padding: 2rem;
	margin: 50px auto auto auto;
}

article {
	border: none !important;
	background: url("/img/aero.svg") no-repeat top !important;
}

main {
	background: url("/img/aero.svg") no-repeat top, linear-gradient(190deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 25%, 65%, rgba(255,255,255,0.5) 100%) !important;
}

}
